

table {
  table-layout: fixed;
  width: 100%;
  border: 3px solid blue;
}

td{
  border: 1px solid blue;
}
.tablaDatos{
  text-align: center;
}

::ng-deep .mat-checkbox-inner-container-no-side-margin{
  right: 1px;
  top : -1px;
}

.divcheck{
  width: 15%;
  height: 27px;
  position: relative;
border: 3px solid blue;
right: -86%;
top: -5px;
}
