.nombresInp{

}

.ApellidoPater{
  margin-left: 70px;

}

.GradoSelect{
  margin-left: 70px;
}

.EdadInput{
  margin-left: 33px;
  opacity: 0.5;
}

.matCard{
box-shadow: none;
height: 520PX;
}

.close-button{
  border: none;
  float: right;
  font-size: 20px;
  right: 0px;
  top: -55px;
}

input#miArchivo{
  color: transparent;
}

.nombreArchivo{
  position: absolute;
  left: 230px;
}
.imagenAlumno{
  max-width: 70px;
  left: 170px;
  top: -10px;

  position: absolute;
}
.inputFileDiv{
  position: relative ;
}
.botonClase{
  text-align: center;
  position: absolute;
  bottom: 0px;
  right: 36%;
}
.botonNuevo{
  width: 150px;
}
.signaturePad{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #c4ccc6;
  max-width: 170px;
  text-align: center;
  position: relative;
  float: left;
  top: 20px;
}
.iconoMat{
  position: absolute;
  top: -60px;
  right: -93px;
}
.nomeVen{
  opacity: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  max-width: 150px;
}

.iconoMat:hover .nomeVen{
  opacity: 1;
}