.nombresInp{

}

.ApellidoPater{
  margin-left: 70px;

}

.GradoSelect{
  margin-left: 70px;
}

.EdadInput{
  margin-left: 33px;
  opacity: 0.5;
}

.matCard{
box-shadow: none;
}

.close-button{
  border: none;
  float: right;
  font-size: 20px;
  right: 0px;
  top: -55px;
}

input#miArchivo{
  color: transparent;
}

.nombreArchivo{
  position: absolute;
  left: 230px;
}
.imagenAlumno{
  max-width: 70px;
  left: 170px;
  top: -10px;

  position: absolute;
}
.inputFileDiv{
  position: relative ;
}
.botonClase{
  text-align: center;
}
.botonNuevo{
  width: 150px;
}
.signaturePad{
  margin: black 1px solid;
}